<div
  id="header"
  class="flex flex-col flex-wrap text-center bg-slate-300 pt-4 pb-2"
>
  <div>
    <h1 class="text-4xl font-bold text-amber-700 hover:underline">
      Nilesh Morkar
    </h1>
  </div>

  <!-- Links -->
  <div class="flex justify-center gap-2 pt-1">
    @for (icon of icons; track $index) {
    <a
      title="linkedin"
      [href]="icon.link"
      target="_blank"
      role="button"
      class="border-2 hover:border-red-500 rounded-full p-2"
    >
      <!-- Linkdln -->
      <span class="[&>svg]:h-7 [&>svg]:w-7 [&>svg]:fill-[#0077b5]">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
          <path [attr.d]="icon.path" />
        </svg>
      </span>
    </a>
    }
  </div>
</div>
