.container {
  max-width: 1140px;
}
#skills-con {
  background-color: rgba(2, 0, 5);
}

#edu-con {
  background-color: rgba(2, 0, 5);
}
#about {
  background-color: rgb(26, 26, 26);
}
#problem-solving-con {
  background-color: rgb(26, 26, 26);
}
