<!-- Filters -->
<div id="filter-con" class="py-2 my-6">
  <div class="">
    <button
      class="border p-2 ml-6 mb-4 hover:text-blue-400 rounded-md"
      type="button"
      (click)="isCollapsed = !isCollapsed"
    >
      Filter
    </button>
    @if(filterSet.size >= 1){
    <button
      class="border p-2 ml-6 mb-4 hover:text-blue-400 rounded-md"
      type="button"
      (click)="onResetClick()"
    >
      Reset
    </button>

    }
  </div>
  @if (isCollapsed) {

  <div class="grid grid-cols-3 gap-1 sm:gap-2 p-4 sm:w-1/2 px-6">
    <div>
      <div class="text-start font-bold mb-2">Languages:</div>
      @for (lan of filters.languges; track $index) {
      <div class="flex items-center mb-2">
        <input
          type="checkbox"
          id="{{ lan }}"
          (change)="filter(lan)"
          class="mr-2"
        />
        <label for="{{ lan }}" class="hover:text-blue-500">{{ lan }}</label>
      </div>
      }
    </div>
    <div>
      <div class="text-start font-bold mb-2">Frameworks:</div>
      @for (framework of filters.frameworks; track $index) {
      <div class="flex items-center mb-2">
        <input
          type="checkbox"
          id="{{ framework }}"
          (change)="filter(framework)"
          class="mr-2"
        />
        <label for="{{ framework }}" class="hover:text-blue-500">{{
          framework
        }}</label>
      </div>
      }
    </div>
    <div>
      <div class="text-start font-bold mb-2">Database:</div>
      @for (database of filters.databases; track $index) {
      <div class="flex items-center mb-2">
        <input
          type="checkbox"
          id="{{ database }}"
          (change)="filter(database)"
          class="mr-2"
        />
        <label for="{{ database }}" class="hover:text-blue-500">{{
          database
        }}</label>
      </div>
      }
    </div>
  </div>
  }
</div>

<!-- Projects -->
@if(projects.length == 0){

<p class="text-center text-xl">No Project Found !!</p>

}@else{

<div class="text-center">
  <div class="font-serif text-lg sm:text-2xl">
    Created 7+ Projects in various Domain
  </div>

  <div
    class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-5 m-5"
  >
    @for (project of projects; track $index) {
    <div class="flex flex-col border-2">
      <img
        [src]="project.image"
        alt="Project Image"
        class="h-64 w-full transition duration-500 group-hover:scale-105 sm:h-72"
      />
      <div
        id="project-div"
        class="text-white border-gray-100 px-4 py-2 flex flex-col flex-grow"
      >
        <h3 class="font-serif text-xl font-medium text-white">
          {{ project.name }}
        </h3>
        <div class="flex flex-wrap justify-cente">
          @for (tech of project.technology; track $index) {
          <span
            class="m-1 font-bold rounded-md whitespace-nowrap bg-blue-200 text-black px-3 py-1.5 text-xs"
          >
            {{ tech }}
          </span>
          }
        </div>
        <div class="text-start flex-grow">
          {{ project.description }}
        </div>
        <div class="flex flex-wrap justify-center gap-6">
          <a
            [href]="project.githubLink"
            target="_blank"
            class="mt-4 text-nowrap rounded bg-blue-500 p-3 text-base font-medium transition hover:scale-105"
            type="button"
          >
            GitHub <i class="pi pi-arrow-up-right ml-2"></i>
          </a>
          @if (project.liveLink) {

          <a
            [href]="project.liveLink"
            target="_blank"
            class="mt-4 text-nowrap rounded bg-blue-500 p-3 text-base font-medium transition hover:scale-105 underline underline-offset-2"
            type="button"
          >
            Live Link <i class="pi pi-arrow-up-right ml-2"></i>
          </a>
          }
        </div>
      </div>
    </div>
    }
  </div>
</div>

}
