<div class="font-serif">
  <nav
    class="p-4 sm:p-3 bg-blue-400 shadow-xl fixed inset-x-0 bottom-0 sm:static z-10"
  >
    <div
      class="flex justify-center space-x-6 flex-wrap text-wrap *:text-lg *:font-medium"
    >
      <a
        routerLink="/home"
        routerLinkActive="underline text-red-800 underline-offset-4"
        class="text-black hover:text-blue-900 transition duration-300 ease-in-out"
        >Home</a
      >
      <a
        routerLink="/projects"
        routerLinkActive="underline text-red-800 underline-offset-4"
        class="text-black hover:text-blue-900 transition duration-300 ease-in-out"
        >Projects</a
      >
      <a
        routerLink="/resume"
        routerLinkActive="underline text-red-800 underline-offset-4"
        class="text-black hover:text-blue-900 transition duration-300 ease-in-out"
        >Resume</a
      >
      <a
        routerLink="/contact"
        routerLinkActive="underline text-red-800 underline-offset-4"
        class="text-black hover:text-blue-900 transition duration-300 ease-in-out"
        >Links</a
      >
    </div>
  </nav>
</div>
