<div class="flex justify-center">
  <a
    class="group relative inline-flex items-center overflow-hidden rounded bg-blue-600 px-8 py-3 text-white focus:outline-none focus:ring active:bg-blue-500"
    href="../../../assets/My Resume/Nilesh Morkar Resume.pdf"
    download="Nilesh Morkar - Resume.pdf"
  >
    <span class="absolute -start-full transition-all group-hover:start-4">
      <svg
        class="size-5 rtl:rotate-180"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M17 8l4 4m0 0l-4 4m4-4H3"
        />
      </svg>
    </span>

    <span class="text-sm font-medium transition-all group-hover:ms-4">
      Download Resume
    </span>
  </a>
</div>

<!--  -->

<div class="flex justify-center my-10">
  <div
    class="badge-base LI-profile-badge text-center"
    data-locale="en_US"
    data-size="large"
    data-theme="dark"
    data-type="HORIZONTAL"
    data-vanity="nilesh-morkar"
    data-version="v1"
  >
    <a
      class="badge-base__link LI-simple-link"
      href="https://in.linkedin.com/in/nilesh-morkar?trk=profile-badge"
      >Nilesh Morkar</a
    >
  </div>
</div>
